body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card {
    width: 70%;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #d1d5da;
}

.card_header img {
    width: 100%;
    height: auto;
}

.card_content {
    padding: 10px;
}

.social {
    animation-name: socialAnimation;
    animation-duration: .2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul li {
    display: unset;
    margin: 20px;
}

.social-link {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 40px;
    transition: color .3s linear;
}

@-webkit-keyframes socialAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.color0 .social-link {
    color: #e69999;
}

.color1 .social-link {
    color: #e6c699;
}

.color2 .social-link {
    color: #d9e699;
}

.color3 .social-link {
    color: #ace699;
}

.color4 .social-link {
    color: #99e6b3;
}

.color5 .social-link {
    color: #99e6df;
}

.color6 .social-link {
    color: #99bfe6;
}

.color7 .social-link {
    color: #9f99e6;
}

.color8 .social-link {
    color: #cc99e6;
}

.color9 .social-link {
    color: #e699d2;
}

.color10 .social-link {
    color: #e699a6;
}
