body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card {
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
    background: #d1d5da;
}

.card_header img {
    width: 100%;
    border-radius: 6px 6px 0 0;
    height: auto;
}

.card_content {
    padding: 10px;
}

.social {
    animation-name: socialAnimation;
    animation-duration: .2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul li {
    display: unset;
    margin: 20px;
}

.social-link {
    color: #6f7d95;
    text-decoration: none;
    font-size: 40px;
    transition: color .3s linear;
}

@-webkit-keyframes socialAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
