body {
    font-size: 17px;
    font-style: normal;
    line-height: 1.5;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.about {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background-color 3s linear;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.content {
    font-weight: 300;
    margin: 0 auto;
    width: 80%;
    transition: color 3s linear;
}

.title {
    color: #f1f1f1;
    text-align: center;
    padding: 0 0 20px;
}

.status {
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

img {
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    height: 200px;
    width: auto;
}

ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

.social-link {
    color: #6d6d6d;
    text-decoration: none;
    transition: color .3s linear;
}

.social {
    animation-name: socialAnimation;
    animation-duration: .2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    margin-bottom: 10px;
}

.hackathons {
    animation-name: socialAnimation;
    animation-duration: .2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    margin-bottom: 40px;
}

@-webkit-keyframes socialAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.color0, .color0 .social-link:hover {
    color: #e69999;
}

.color1, .color1 .social-link:hover {
    color: #e6c699;
}

.color2, .color2 .social-link:hover {
    color: #d9e699;
}

.color3, .color3 .social-link:hover {
    color: #ace699;
}

.color4, .color4 .social-link:hover {
    color: #99e6b3;
}

.color5, .color5 .social-link:hover {
    color: #99e6df;
}

.color6, .color6 .social-link:hover {
    color: #99bfe6;
}

.color7, .color7 .social-link:hover {
    color: #9f99e6;
}

.color8, .color8 .social-link:hover {
    color: #cc99e6;
}

.color9, .color9 .social-link:hover {
    color: #e699d2;
}

.color10, .color10 .social-link:hover {
    color: #e699a6;
}
